.stats-bars-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .stats-bars-label {
        font-family: monospace;
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
    }
    .stats-bar-list {
        .stats-bar-element {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            .stat-label {
                font-family: monospace;
                margin-right: 5px;
            }
            .progress {
                min-width: 200px;
                background-color: #E3E3E3;
            }
        }
    }
}