.link-button-container {
    .link-button-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
    .link-button-label {
        font-size: 14px;
        font-weight: bold;
    }
}