:root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .app-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid gainsboro;
  }
}

